# 1. Dependency & Build caches
node_modules/
.npm
.npm-cache/
.yarn/
.turbo/
dist/
build/
out/
.expo/

# 2. Environments & Secrets
.env
.env.*

# 3. OS & Editors
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 4. Android-specific (React Native CLI)
apps/mobile/android/build/
apps/mobile/android/.gradle/
apps/mobile/android/app/build/
apps/mobile/android/local.properties
*.keystore
!*.placeholder

# 5. iOS-specific (React Native CLI)
apps/mobile/ios/Pods/
apps/mobile/ios/build/
*.xcworkspace/
DerivedData/
.xccheckout
*.moved-aside
*.xsmap